@model IEnumerable<CarDealershipApp.Models.Cars>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-hover w-auto">
    <thead>
        <tr>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarModel)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarYear)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarColour)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarState)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarExtras)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarPrice)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarImage)
            </th>
            <th class="col">
                @Html.DisplayNameFor(model => model.CarAdvertisementState)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarMake)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarColour)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarExtras)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarAdvertisementState)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
